*{
 padding: 0;
 margin: 0;
}
nav{
    background-color: rgb(53, 129, 244);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    height: 70px;
    position: sticky;
}
nav .logo{
    /* height: 60px;
    width: 60px; */
    border-radius: 50%;
    box-shadow:  0 0 15px black ;
}
.navlinks{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
.navlinks>.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.navlinks>.link:hover{
    transition: all  1s ease 0s;
    color: orangered;
    text-decoration: underline;
}
.login button{
    padding: 10px 20px;
    background-color: rgb(70, 206, 58);
    color: azure;
    font-size: 20px;
    font-weight: bold;
}
.login button:hover{
    transition:  all 1s ease 0s;
    color: orangered;
    background-color: azure;
    box-shadow:  0 0 5px orange;

}
@media screen and (min-width:0px)and (max-width:420px) {
    nav{
        height: 60px;

    }
    nav.logo>img{
        height: 50px;
        width: 50px;
    }
    .navlinks{
        display: none;
    }
    .login button{
        padding:7px 15px ;
        font-size: 16px;
        font-weight: bold;
    }
}
@media  (min-width:421px)and (max-width:768px) {
    nav{
        height: 0px;
        padding: 70px;
    }
    nav.logo>img{
        height: 55px;
        width: 55px;
    }
    .navlinks>.link{
        font-size: 15px;
    }
    .login button{
        padding:8px 17px ;
        font-size: 18px;
        font-weight: bold;
    }
}